<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
	xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	layout:decorator="layout/default">
<head>
<title>Thêm mới trạng thái</title>
</head>
<body>
	<div layout:fragment="content">
		<div class="row">
			<div class="col-md-12 mb-2">
				<div class="page-header-breadcrumb">
					<ul class="breadcrumb-title">
						<li class="breadcrumb-item"><a th:href="@{/admin}"> <i
								class="feather icon-home"></i> Trang chủ
						</a></li>
						<li class="breadcrumb-item"><a th:href="@{/admin/status}">trạng thái</a></li>
						<li class="breadcrumb-item"><a href="#!">Thêm mới trạng thái</a></li>
					</ul>
				</div>
			</div>
			<div class="col-sm-12">
				<div class="card">
					<div class="card-header">
						<h2 class="text-uppercase text-center">Thêm mới trạng thái</h2>
					</div>
					<div class="card-block">
						<form action="#" th:action="@{/admin/status/add}" th:object="${status}" method="post">
							<div class="row">
								<div class="col-md-2">
									<div class="form-group">
										<label>Tên trạng thái</label> 
										<input type="text" name="name" class="form-control" />
									</div>
									
								</div>
								
								<div class="col-12">
									<div class="form-group mt-3">
										<button type="submit" class="btn btn-primary m-b-0">Lưu lại</button>
										<a th:href="@{/admin/status}"
											class="btn btn-secondary text-white">Quay lại</a>
									</div>
								</div>
							</div>
						</form>
					</div>
				</div>
			</div>
		</div>
	</div>
</body>
</html>