<head xmlns:th="http://www.thymeleaf.org">
	<link rel="icon" th:href="@{/assets/images/favicon.ico}" type="image/x-icon" />
    <!-- Google font-->
    <link href="https://fonts.googleapis.com/css?family=Open+Sans:400,600" rel="stylesheet" />
    <!-- Required Fremwork -->
    <link rel="stylesheet" type="text/css" th:href="@{/assets/plugins/bootstrap/css/bootstrap.min.css}" />
    <link rel="stylesheet" type="text/css" th:href="@{/assets/plugins/font-awesome/css/font-awesome.min.css}" />
    <!-- themify-icons line icon -->
    <link rel="stylesheet" type="text/css" th:href="@{/assets/icon/themify-icons/themify-icons.css}" />
    <!-- ico font -->
    <link rel="stylesheet" type="text/css" th:href="@{/assets/icon/icofont/css/icofont.css}" />
    <!-- feather Awesome -->
    <link rel="stylesheet" type="text/css" th:href="@{/assets/icon/feather/css/feather.css}" />
    <!-- Style.css -->
    <link rel="stylesheet" type="text/css" th:href="@{/assets/css/style.css}" />
    <link rel="stylesheet" type="text/css" th:href="@{/assets/css/jquery.mCustomScrollbar.css}" />

    <!-- Home Bootstrap CSS -->
	<!-- <link rel="stylesheet" th:href="@{/css/bootstrap.min.css}">
	<link rel="stylesheet" th:href='@{/css/style.css}'> -->
    
    <!-- pagination bootrap 4 -->
    <link href="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/4.1.3/css/bootstrap.css" />
	<link href="https://cdn.datatables.net/1.10.20/css/dataTables.bootstrap4.min.css" />
	<style type="text/css">
	
	.product img{
		height: 150px;
    	width: 150px;
	
	}
	
	</style>
</head>