<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
	xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	layout:decorator="layout/default">
<head>
<title>Thêm mới hóa đơn</title>
</head>
<body>
	<div layout:fragment="content">
		<div class="row">
			<div class="col-md-12 mb-2">
				<div class="page-header-breadcrumb">
					<ul class="breadcrumb-title">
						<li class="breadcrumb-item"><a th:href="@{/admin}"> <i
								class="feather icon-home"></i> Trang chủ
						</a></li>
						<li class="breadcrumb-item"><a th:href="@{/admin/bill}">Danh
								mục</a></li>
						<li class="breadcrumb-item"><a href="#!">Thêm mới hóa đơn</a></li>
					</ul>
				</div>
			</div>
			<div class="col-sm-12">
				<div class="card">
					<div class="card-header">
						<h2 class="text-uppercase text-center">Thêm mới hóa đơn</h2>
					</div>
					<div class="card-block">
						<form action="#" th:action="@{/admin/bill/add}" th:object="${bill}" method="post">
						<input type="hidden" th:field="*{id}" class="form-control" />
							<div class="row">
								<div class="col-md-6">
									<!-- <div class="form-group">
										<label>Ngày tạo</label> <input type="date"
											th:field="*{dateBill}" class="form-control" />
										<p class="text-danger"
											th:if="${#fields.hasErrors('dateBill')}"
											th:errors="*{dateBill}"></p>
									</div> -->
				
									<div class="form-group">
										<label>Khách hàng</label> <select th:field="*{userId}"
											class="form-control">

											<option th:each="user : ${users}" th:value="${user.id}"
												th:text="${user.name}"></option>

										</select>

										<p class="text-danger" th:if="${#fields.hasErrors('userId')}"
											th:errors="*{userId}"></p>
									</div>
									
									<div class="form-group">
										<label>Nhân viên thanh toán</label> <select th:field="*{employeeId}"
											class="form-control">

											<option th:each="employee : ${employees}" th:value="${employee.id}"
												th:text="${employee.name}"></option>

										</select>

										<p class="text-danger" th:if="${#fields.hasErrors('employeeId')}"
											th:errors="*{employeeId}"></p>
									</div>
								</div>
								<div class="col-md-6">
									<div class="form-group">
										<label>Tổng giá</label> <input type="text" readonly
											th:field="*{price}" class="form-control" />
									</div>
									
									
									
								</div>
								<div class="col-12 mt-3">
									<div class="form-group">
										<button type="submit" class="btn btn-primary m-b-0">Lưu
											lại</button>
										<a th:href="@{/admin/bill}"
											class="btn btn-secondary text-white">Quay lại</a>
									</div>
								</div>
							</div>
						</form>
					</div>
				</div>
			</div>
		</div>
	</div>
</body>
</html>