<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
	xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	layout:decorator="layout/default">
<head>
<title>Cập nhật món ăn</title>
</head>
<body>
	<div layout:fragment="content">
		<div class="row">
			<div class="col-md-12 mb-2">
				<div class="page-header-breadcrumb">
					<ul class="breadcrumb-title">
						<li class="breadcrumb-item"><a th:href="@{/admin}"> <i
								class="feather icon-home"></i> Trang chủ
						</a></li>
						<li class="breadcrumb-item"><a th:href="@{/admin/product}">Món ăn</a></li>
						<li class="breadcrumb-item"><a href="#!">Cập nhật món ăn</a></li>
					</ul>
				</div>
			</div>
			<div class="col-sm-12">
				<div class="card">
					<div class="card-header">
						<h2 class="text-uppercase text-center">Cập nhật món ăn</h2>
					</div>
					<div class="card-block">
						<form action="#" th:action="@{/admin/product/edit}" th:object="${product}" method="post">
						<input type="hidden" th:field="*{id}" class="form-control" />
							<div class="row">
								<div class="col-md-6 m-auto">
									<div class="form-group">
										<label>Tên món ăn</label> 
										<input type="text" th:field="*{name}" class="form-control" />
										<p class="text-danger" 
												th:if="${#fields.hasErrors('name')}" th:errors="*{name}"></p>
									</div>
									<div class="form-group">
										
										<input type="hidden"  th:field="*{quantity}" th:value=1 class="form-control" />
										<p class="text-danger" 
												th:if="${#fields.hasErrors('quantity')}" th:errors="*{quantity}"></p>
									</div>
								
									<div class="form-group">
										<label>Giá</label> 
										<input type="number" th:field="*{price}" class="form-control" />
										<p class="text-danger" 
												th:if="${#fields.hasErrors('price')}" th:errors="*{price}"></p>
									</div>
									<div class="form-group">
										<label>Trạng thái</label> 
										<select th:field="*{statusId}"
											class="form-control">

											<option th:each="item : ${status}" th:value="${item.id}"
												th:text="${item.name}"></option>

										</select>

										<p class="text-danger" th:if="${#fields.hasErrors('statusId')}"
											th:errors="*{statusId}"></p>
									</div>
									<div class="form-group mt-3">
										<button type="submit" class="btn btn-primary m-b-0">Lưu lại</button>
										<a th:href="@{/admin/target}"
											class="btn btn-secondary text-white">Quay lại</a>
									</div>
								</div>
							</div>
						</form>
					</div>
				</div>
			</div>
		</div>
	</div>
</body>
</html>
<!-- <!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
	xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	layout:decorator="layout/default">
<head>
<title>Thêm mới món ăn</title>
</head>
<body>
	<div layout:fragment="content">
		<div class="row">
			<div class="col-md-12 mb-2">
				<div class="page-header-breadcrumb">
					<ul class="breadcrumb-title">
						<li class="breadcrumb-item"><a th:href="@{/admin}"> <i
								class="feather icon-home"></i> Trang chủ
						</a></li>
						<li class="breadcrumb-item"><a th:href="@{/admin/product}">Món ăn</a></li>
						<li class="breadcrumb-item"><a href="#!">Thêm mới món ăn</a></li>
					</ul>
				</div>
			</div>
			<div class="col-sm-12">
				<div class="card">
					<div class="card-header">
						<h2 class="text-uppercase text-center">Thêm mới món ăn</h2>
					</div>
					<div class="card-block">
						<form action="#" th:action="@{/admin/product/edit}" th:object="${product}" method="post">
						<input type="hidden" th:field="*{id}" class="form-control" />
							<div class="row">
								<div class="col-md-6 m-auto">
									<div class="form-group">
										<label>Tên món ăn</label> 
										<input type="text" th:field="*{name}" class="form-control" />
										<p class="text-danger" 
												th:if="${#fields.hasErrors('name')}" th:errors="*{name}"></p>
									</div>
									<div class="form-group">
										
										<input type="hidden"  th:field="*{quantity}" th:value=1 class="form-control" />
									</div>
									<div class="form-group">
										<label>Giá</label> 
										<input type="number" th:field="*{price}" class="form-control" />
										<p class="text-danger" 
												th:if="${#fields.hasErrors('price')}" th:errors="*{price}"></p>
									</div>
									<div class="form-group">
										<label>Trạng thái</label> 
										<select th:field="*{statusId}"
											class="form-control">

											<option th:each="item : ${status}" th:value="${item.id}"
												th:text="${item.name}"></option>

										</select>

										<p class="text-danger" th:if="${#fields.hasErrors('statusId')}"
											th:errors="*{statusId}"></p>
									</div>
									<div class="form-group mt-3">
										<button type="submit" class="btn btn-primary m-b-0">Lưu lại</button>
										<a th:href="@{/admin/product}"
											class="btn btn-secondary text-white">Quay lại</a>
									</div>
								</div>
							</div>
						</form>
					</div>
				</div>
			</div>
		</div>
	</div>
</body>
</html> -->